@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  font-family: Roboto;
  background-color: #beeeef;
}

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  height: 200vh;
}

.navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  display: none;
}

.navButtons {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  transition: all 0.5s ease;
}

.button {
  border-style: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 2px;
  width: 185px;
  height: 50px;
  border-radius: 5px;
  vertical-align: top;
}

.to-top {
  width: 80px;
  display: none;
  transition: all 0.5s ease;
}

.at-top {
  width: 0;
  transition: all 0.5s ease;
}

.up-arrow {
  display: none;
  margin-top: 5px;
  height: 35px;
  transform: rotate(180deg);
}

.button:hover {
  cursor: pointer;
  margin-top: 6px;
  /*margin-left: 1px;*/
  box-shadow: 1px 1px 1px;
}

.container {
  margin-top: 110px;
}

.typed-heading {
  font-family: 'Press Start 2P';
  font-size: 35px;
  margin: 335px auto;

}

.content {
  display: none;
  position: relative;
  padding-top: 50px;
}

.heading {
  font-size: 4em;
  text-align: center;
  margin-top: 50px;
}

.main-segment {
  background-color: #eee;
  padding: 15px;
  box-shadow: 4px 4px 18px #ccc;
  margin-top: 100px;
  border-radius: 5px;
  font-size: 30px;
}

h2 {
  margin: 0 0 40px 0;
}

p {
  margin-top: 0;
  margin-bottom: 40px;
}

.last {
  margin-bottom: 0;
}

.contact-icon {
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  width: 100%;
}

tr.contact-row {
  height: 60px;
}

th {
  text-align: left
}

td {
  text-align: left;
  padding-left: 30px;
  width: 50%;
}




.skill-row {
  margin: 0 auto;
  text-align: center;
}

.skill {
  display: inline-block;
  width: 24%;
  text-align: center;
  margin: 0 auto;
}

.skill3 {
  background: yellow;
  display: inline-block;
  width: 33%;
  text-align: center;
}

h3 {
  margin: 0 0 20px 0;
}

.skills-img {
  height: 100px;
}

.project {
  margin-top: 50px;
  margin-bottom: 75px;
}

.project-heading {
  margin: 0 0 10px 40px;
}

.project-left, .project-right {
  height: 155px;
  width: 49%;
  display: inline-block;
}

.project-right {
  padding-top: 5px;
  text-align: center;
}

.project-right img {
  height: 150px;
  margin: 0 auto;
}

.project-details {
  margin: 0 0 20px 80px;
}

.tech-logo {
  height: 40px;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  display: none;
}
